# encoding: utf-8
# Copyright 2011 California Institute of Technology. ALL RIGHTS
# RESERVED. U.S. Government Sponsorship acknowledged.

[buildout]
extends =
    http://dist.plone.org/release/4.2-latest/versions.cfg
    http://cancer.jpl.nasa.gov/documents/applications/knowledge-environment/sources.cfg
    setup.cfg
find-links =
    http://dist.plone.org/release/4-latest
    http://dist.plone.org/thirdparty
    http://oodt.jpl.nasa.gov/dist
extensions      = mr.developer
versions        = versions
sources         = sources
sources-dir     = dep-src
parts           = test omelette mkrelease
develop         = .
always-checkout = true
auto-checkout   = ${source-dependencies:eggs}
package-name = edrnsite.collaborations

[test]
recipe   = collective.xmltestreport
defaults = ['--auto-color', '--auto-progress', '--verbose']
eggs     = ${buildout:package-name} [test]

[omelette]
recipe = collective.recipe.omelette
eggs =
    Plone
    ${buildout:package-name} [test]

[mkrelease]
recipe = zc.recipe.egg:scripts
eggs = jarn.mkrelease
